.DS_Store
*.VC.db
*.app
/deploy
*.so*
*.pyc
examples/pxScene2d/external/freetype-2.5.3/objs/.libs/*
*~
*.o
xcuserdata
node-v0.12.7-darwin-x64
temp/*
build/*
gl2d*
apinames
src/obj/
src/.vscode/
examples/pxScene2d/external/libpng-1.6.12/Makefile
examples/pxScene2d/external/libpng-1.6.12/config.h
examples/pxScene2d/external/libpng-1.6.12/config.status
examples/pxScene2d/external/libpng-1.6.12/libtool/*
examples/pxScene2d/external/libpng-1.6.12/libtool
examples/pxScene2d/external/libpng-1.6.12/arm/*

examples/pxScene2d/external/libpng-1.6.28/Makefile
examples/pxScene2d/external/libpng-1.6.28/config.h
examples/pxScene2d/external/libpng-1.6.28/config.status
examples/pxScene2d/external/libpng-1.6.28/libtool/*
examples/pxScene2d/external/libpng-1.6.28/libtool
examples/pxScene2d/external/libpng-1.6.28/arm/*

examples/pxScene2d/external/freetype-2.5.3/builds/unix/freetype-config
examples/pxScene2d/external/freetype-2.5.3/builds/unix/config.status
examples/pxScene2d/external/freetype-2.5.3/builds/unix/libtool
examples/pxScene2d/external/freetype-2.5.3/builds/unix/config.log
examples/pxScene2d/external/freetype-2.5.3/builds/unix/unix-cc.mk
examples/pxScene2d/external/freetype-2.5.3/builds/unix/unix-def.mk
examples/pxScene2d/external/freetype-2.5.3/builds/unix/ftconfig.h

examples/pxScene2d/external/jpeg-9a/jconfig.h


examples/pxScene2d/external/curl-7.40.0/config.log
examples/pxScene2d/external/curl-7.40.0/config.status
examples/pxScene2d/external/curl-7.40.0/curl-config
examples/pxScene2d/external/curl-7.40.0/docs/Makefile
examples/pxScene2d/external/curl-7.40.0/docs/examples/Makefile
examples/pxScene2d/external/curl-7.40.0/docs/libcurl/Makefile
examples/pxScene2d/external/curl-7.40.0/docs/libcurl/opts/Makefile
examples/pxScene2d/external/curl-7.40.0/include/Makefile
examples/pxScene2d/external/curl-7.40.0/include/curl/Makefile
examples/pxScene2d/external/curl-7.40.0/include/curl/stamp-h2
examples/pxScene2d/external/curl-7.40.0/lib/.deps/
examples/pxScene2d/external/curl-7.40.0/lib/.dirstamp
examples/pxScene2d/external/curl-7.40.0/lib/Makefile
examples/pxScene2d/external/curl-7.40.0/lib/curl_config.h
examples/pxScene2d/external/curl-7.40.0/lib/libcurl.vers
examples/pxScene2d/external/curl-7.40.0/lib/stamp-h1
examples/pxScene2d/external/curl-7.40.0/lib/vtls/.deps/
examples/pxScene2d/external/curl-7.40.0/lib/vtls/.dirstamp
examples/pxScene2d/external/curl-7.40.0/libtool
examples/pxScene2d/external/curl-7.40.0/packages/AIX/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/AIX/RPM/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/AIX/RPM/curl.spec
examples/pxScene2d/external/curl-7.40.0/packages/EPM/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/EPM/curl.list
examples/pxScene2d/external/curl-7.40.0/packages/Linux/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/Linux/RPM/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/Linux/RPM/curl-ssl.spec
examples/pxScene2d/external/curl-7.40.0/packages/Linux/RPM/curl.spec
examples/pxScene2d/external/curl-7.40.0/packages/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/Solaris/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/Win32/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/Win32/cygwin/Makefile
examples/pxScene2d/external/curl-7.40.0/packages/vms/Makefile
examples/pxScene2d/external/curl-7.40.0/src/.libs/
examples/pxScene2d/external/curl-7.40.0/src/Makefile
examples/pxScene2d/external/curl-7.40.0/src/curl
examples/pxScene2d/external/curl-7.40.0/tests/Makefile
examples/pxScene2d/external/curl-7.40.0/tests/certs/Makefile
examples/pxScene2d/external/curl-7.40.0/tests/certs/scripts/Makefile
examples/pxScene2d/external/curl-7.40.0/tests/configurehelp.pm
examples/pxScene2d/external/curl-7.40.0/tests/data/Makefile
examples/pxScene2d/external/curl-7.40.0/tests/libtest/Makefile
examples/pxScene2d/external/curl-7.40.0/tests/server/Makefile
examples/pxScene2d/external/curl-7.40.0/tests/unit/Makefile
examples/pxScene2d/src/#build.sh#
examples/pxScene2d/src/image.jpg
examples/pxScene2d/external/curl-7.40.0/Makefile
examples/pxScene2d/external/curl-7.40.0/include/curl/curlbuild.h
examples/pxScene2d/external/zlib-1.2.8/Makefile
examples/pxScene2d/external/zlib-1.2.8/configure.log
examples/pxScene2d/external/zlib-1.2.8/zconf.h
examples/pxScene2d/external/zlib-1.2.11/Makefile
examples/pxScene2d/external/zlib-1.2.11/configure.log
examples/pxScene2d/src/jsbindings/build/*

examples/pxScene2d/external/libnode-v6.9.0/cctest.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/cctest.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/gtest/gtest.sln
examples/pxScene2d/external/libnode-v6.9.0/deps/gtest/gtest.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/deps/gtest/gtest.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/openssl/openssl-cli.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/deps/openssl/openssl-cli.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/openssl/openssl.sln
examples/pxScene2d/external/libnode-v6.9.0/deps/openssl/openssl.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/deps/openssl/openssl.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/inspector_debugger_script.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/inspector_debugger_script.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/inspector_injected_script.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/inspector_injected_script.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/protocol_sources_stl.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/protocol_sources_stl.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/protocol_version.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/protocol_version.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/v8_inspector.sln
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/v8_inspector_stl.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/deps/v8_inspector/third_party/v8_inspector/platform/v8_inspector/v8_inspector_stl.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/deps/zlib/zlib.sln
examples/pxScene2d/external/libnode-v6.9.0/deps/zlib/zlib.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/mkssldef.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/mkssldef.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/node.sln
examples/pxScene2d/external/libnode-v6.9.0/node.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/node.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/node_dtrace_header.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/node_dtrace_provider.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/node_dtrace_ustack.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/node_etw.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/node_etw.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/node_js2c.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/node_js2c.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/node_perfctr.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/node_perfctr.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/specialize_node_d.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/genccode.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/genccode.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/genrb.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/genrb.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icu-generic.sln
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icu_implementation.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icu_uconfig.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icu_uconfig_target.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icudata.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icudata.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icui18n.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icui18n.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/iculslocs.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icupkg.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icupkg.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icustubdata.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icustubdata.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icutools.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icutools.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icuuc.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icuucx.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/tools/icu/icuucx.vcxproj.filters
examples/pxScene2d/external/libnode-v6.9.0/v8_inspector_compress_protocol_json.vcxproj
examples/pxScene2d/external/libnode-v6.9.0/v8_inspector_compress_protocol_json.vcxproj.filters

examples/pxScene2d/external/breakpad-chrome_55/*
examples/pxScene2d/external/freetype-2.5.2/*
examples/pxScene2d/external/libjpeg-turbo-1.5.1/*
examples/pxScene2d/external/libpng-1.6.28/*

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake

examples/pxScene2d/external/dukluv/Makefile
examples/pxScene2d/external/dukluv/dukluv
examples/pxScene2d/external/dukluv/build/dukluv
examples/pxScene2d/external/libpng-1.6.28/libtool
examples/pxScene2d/external/libpng-1.6.28/timepng

tests/pxScene2d/Makefile


