
*.o
*~
*.dylib
*.Pio
*.out
*.o
*.Po
*.lo
*.Plo
*.pyc

*.a
*.la
*.lai
*.sym
*.expsym
*.pc

testgl2d/testgl2d.xcodeproj/project.xcworkspace/xcuserdata/johnrobinson.xcuserdatad/UserInterfaceState.xcuserstate

pxScene2d.xcworkspace/xcshareddata