external/jpeg-9a/.deps/
external/jpeg-9a/.libs/

*.o
*~
*.dylib
*.Pio
*.out
*.o
*.Po
*.lo
*.Plo



external/jpeg-9a/Makefile

external/jpeg-9a/libtool

external/jpeg-9a/config.status

external/jpeg-9a/config.log

testgl2d/testgl2d.xcodeproj/project.xcworkspace/xcuserdata/johnrobinson.xcuserdatad/UserInterfaceState.xcuserstate

external/jpeg-9a/cjpeg

external/jpeg-9a/djpeg

external/jpeg-9a/jpegtran

external/jpeg-9a/libjpeg.la

external/jpeg-9a/rdjpgcom

external/jpeg-9a/wrjpgcom

external/libpng-1.6.12/config.log

*.a

*.la

*.lai

*.sym

*.expsym

external/libpng-1.6.12/.libs/

external/libpng-1.6.12/libpng16-config

*.pc

external/libpng-1.6.12/png-fix-itxt

external/libpng-1.6.12/pngfix

external/libpng-1.6.12/pngimage

external/libpng-1.6.12/pnglibconf.dfn

external/libpng-1.6.12/pnglibconf.h

external/libpng-1.6.12/pngprefix.h

external/libpng-1.6.12/pngstest

external/libpng-1.6.12/pngtest

external/libpng-1.6.12/pngunknown

external/libpng-1.6.12/pngvalid
