IDI_ICON1 ICON Spark_installer.ico

1 VERSIONINFO
FILEVERSION 1,1,0,0
FILEOS 0x4
FILETYPE 0x0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "pxscene"
      VALUE "FileDescription", "pxscene"
      VALUE "InternalName", "pxscene"
      VALUE "LegalCopyright", "Copyright 2018"
      VALUE "OriginalFilename", "pxscene.exe"
      VALUE "ProductName", "pxscene"
      VALUE "ProductVersion", "1,1,0,0"
    END
  END
  
 BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
