*.vcxproj.user
Animation/temp/
Animation/x64/
Backup/
Debug/
Hover/Hover.vcxproj
Hover/temp/
Hover/x64/
KeyboardAndMouse/temp/
KeyboardAndMouse/x64/
Mandelbrot/temp/
Mandelbrot/x64/
NativeDrawing/temp/
NativeDrawing/x64/
Simple/temp/
Simple/x64/
Sprite/temp/
Sprite/x64/
Timer/temp/
Timer/x64/
pxCore.opensdf
pxCore.sdf
pxCore.vcxproj.filters
pxcore.v12.suo
x64/
x86/
.vs/
pxScene2d/Output/
pxScene2d/build/
pxScene2d/objs/
pxScene2d/exe/
pxScene2d/Release/
pxScene2d/Debug/
pxScene2d/vc_redist.x86.exe
pxScene2d/vcredist_x86.exe