*.vcxproj.user
Animation/temp/
Animation/x64/
Backup/
Debug/
Hover/Hover.vcxproj
Hover/temp/
Hover/x64/
KeyboardAndMouse/temp/
KeyboardAndMouse/x64/
Mandelbrot/temp/
Mandelbrot/x64/
NativeDrawing/temp/
NativeDrawing/x64/
Simple/temp/
Simple/x64/
Sprite/temp/
Sprite/x64/
Timer/temp/
Timer/x64/
pxCore.opensdf
pxCore.sdf
pxCore.vcxproj.filters
pxcore.v12.suo
x64/
x86/